form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--form-gap);
    transition: margin .2s;
}

header * {
    margin-top: unset;
}

section {
    display: flex;
    gap: var(--form-gap);
}



