.item-wrapper {
    display: flex;
    align-items: end;
    border: none;
    background: none;
    padding-block: 7px;
    padding-inline: 17px;
    transition: background-color 0.2s;
    border-radius: 2px;
    user-select: none;
    -webkit-user-select: none;
}

.item-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.item-label {
    text-align: left;
    overflow: hidden;
    width: 0;
    transition: margin-left .25s, width .25s;
}

.item-label.open {
    width: 5rem;
    margin-left: 0.5rem;
}

.active {
    background: var(--primary);
}

.active:hover {
    background: var(--primary-light);
}

.active .item-label {
    font-weight: 700;
    color: var(--button-bg);
}

